<% require 'countries' %>

<h1>Visa Sources</h1>

<section class="narrow">
    <button id="add-new" class="btn btn-default">Add New</button>

    <div class="hidden">
        <%= form_tag({:action => :add }, {method: :post, class: 'padding-top', role: 'form'}) do %>
            <div class="row">
                <label class="col-md-4">Name</label>
                <div class="col-md-8">
                    <%= text_field :source, :name, {class: 'form-control'} %>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4">Country</label>
                <div class="col-md-8">
                    <%= country_select :source, :country, nil, {iso_codes: true}, {class: 'form-control'} %>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4">URL</label>
                <div class="col-md-8">
                    <%= url_field :source, :url, {class: 'form-control'} %>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4">Last Modified</label>
                <div class="col-md-8">
                    <%= datetime_local_field :source, :last_modified, {class: 'form-control'} %>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4">Etag</label>
                <div class="col-md-8">
                    <%= text_field :source, :etag, {class: 'form-control'} %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="checkbox">
                        <%= check_box :source, :visa_required %>
                        Visa required
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="checkbox">
                        <%= check_box :source, :on_arrival %>
                        Visa on arrival
                    </label>
                </div>
            </div>
            <div class="row">
                <label class="col-md-12">Description</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= text_area :source, :description, {class: 'form-control'} %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Add Source</button>
                </div>
            </div>
        <% end %>
    </div>
</section>

<% if VisaSource.all.size > 0 %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Updated</th>
                <th>Countries</th>
            </tr>
        </thead>
        <tbody>
            <% VisaSource.all.each { |source| %>
                <tr>
                    <td><%=	source.name %></td>
                    <td><%=	Country.find_country_by_alpha2(source.country) %></td>
                    <td><%=	source.updated? %></td>
                    <td><%=	source.visas.size %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% end %>

<%= javascript_include_tag 'admin' %>